@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------
Basic Structure -----------------------
--------------------------------------- 
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/*-------------------------------------
App Font Sizing -----------------------
--------------------------------------- 
*/

html {
  font-size: 62.5%;
}

/*-------------------------------------
Reuse Variabels -----------------------
--------------------------------------- 
*/

:root {
  --bg-color: #f0f0f0;
  --basic-font-color: rgba(32, 30, 30, 0.884);
  --primary-gradient: linear-gradient(
    270deg,
    #944bdd,
    #b349d0 11%,
    #c846c1 22%,
    #d94ab5 33%,
    #e44ea6 44%,
    #ee599c 56%,
    #f36293 67%,
    #f66f8a 78%,
    #f77e88 89%,
    #f68984
  );
  --gradient-test: linear-gradient(
    360deg,
    #944bdd,
    #b349d0 11%,
    #c846c1 22%,
    #d94ab5 33%,
    #e44ea6 44%,
    #ee599c 56%,
    #f36293 67%,
    #f66f8a 78%,
    #f77e88 89%,
    #f68984
  );
  --secondary-gradient: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  --xx-small: 0.5rem;
  --x-small: 1rem;
  --mini-huge-small: 2rem;
  --huge-small: 3rem;
  --small: 5rem;
  --gutter-mini: 6rem;
  --gutter-basic: 9rem;
  --gutter-normal: 12rem;
  --gutter: 15rem;
  --gutter-big: 20rem;
  --gutter-x-big: 25rem;
  --basic-font: 1.6rem;
  --mini-font: 1.4rem;
  --h1: 3.5rem;
  --big-button-text: 2rem;
  --basic-shadow: #07070733 0px 0px 0px var(--xx-small);
}

/*-------------------------------------
Body Styling --------------------------
---------------------------------------
*/

body {
  background: var(--bg-color);
  color: var(--basic-font-color);
  width: 100%;
}

/*-------------------------------------
Main Styling --------------------------
---------------------------------------
*/

main {
  max-width: 1240px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: var(--huge-small);
}

.starter {
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  padding: var(--x-small);
}

main a {
  text-decoration: none;
  font-size: var(--big-button-text);
  background: var(--primary-gradient);
  padding: var(--x-small) var(--small);
  border-radius: var(--xx-small);
  transition: all 0.3s;
}

.button-primary {
  border: 2px solid transparent;
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var(--primary-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: inherit;
  text-decoration: none;
  font-size: var(--mini-font);
  padding: var(--x-small) var(--small);
  border-radius: var(--xx-small);
  transition: all 0.3s;
  font-weight: 600;
}

.admin-link {
  color: var(--basic-font-color);
}

.admin-link:hover,
.button-primary:hover {
  box-shadow: #4e4b4b50 0 0 0 var(--xx-small);
}

.button-primary-small {
  font-size: var(--basic-font);
  padding: var(--x-small) var(--huge-small);
  color: var(--basic-font-color);
  font-weight: 600;
}

.parent-basic {
  display: flex;
  gap: var(--mini-huge-small);
  align-items: center;
  justify-content: center;
  padding: var(--mini-huge-small);
}

.basic-page-head {
  display: flex;
  flex-direction: column;
  gap: var(--small);
  padding: var(--x-small);
  min-height: 100vh;
}

.page-head-text {
  font-weight: 700;
  font-size: var(--h1);
  display: flex;
  flex-direction: column;
  gap: var(--x-small);
}

.page-head-text::after {
  content: "";
  height: 1px;
  background: var(--primary-gradient);
}

.secondary-button {
  font-size: var(--basic-font);
  background: var(--primary-gradient);
  padding: var(--x-small) var(--small);
  border-radius: var(--xx-small);
  transition: all 0.3s;
  font-size: var(--basic-font);
  padding: var(--x-small) var(--huge-small);
  font-weight: 600;
  color: var(--bg-color);
  border-radius: var(--xx-small);
  border: none;
}

.headtable {
  display: flex;
}

.headtable > p {
  font-size: var(--mini-font);
  font-weight: 500;
  flex: 0 0 50%;
  text-align: center;
}

.headtable div {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  justify-content: space-between;
}

.headtable div p {
  font-size: var(--mini-font);
  font-weight: 500;
  text-align: center;
}

input {
  text-align: right;
  padding: var(--xx-small) var(--x-small);
  border: 1px solid #d8d8d8;
  border-radius: var(--mini-huge-small);
  background-color: rgb(245, 243, 242);
  font-size: var(--mini-font);
}

.datatable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputs {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  gap: var(--mini-huge-small);
}

.valuesdata {
  flex: 0 0 50%;
  display: flex;
  justify-content: space-between;
  gap: var(--mini-huge-small);
}

.row {
  display: flex;
  flex-direction: column;
  @apply mr-48
  /* gap: var(--mini-huge-small); */
}

section {
  display: flex;
  height: 100vh;
}

label {
  font-size: var(--mini-font);
}

form {
  border: 2px solid transparent;
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var(--primary-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.267);
}

.table-data {
  /* border: 1px solid transparent; */
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var(--secondary-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.table-data thead {
  /* border: 1px solid transparent; */
  background: var(--primary-gradient);
}

.table-data th {
  /* border: 1px solid transparent; */
  background: var(--primary-gradient);
}
.bg{
  background: var(--primary-gradient);
}
ul li a {
  transition: all 0.5s;
}

.table-data td {
  /* border: 1px solid transparent; */
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var(--secondary-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.table-data tr {
  /* border: 1px solid transparent; */
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var(--secondary-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.secondary-background {
  background: var(--primary-gradient);
}
.sidebar{
  border-right: 2px solid transparent;
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var( --gradient-test);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.267);

}
.navbar{
  border-bottom: 2px solid transparent;
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var(--primary-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  /* box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.267); */
  @apply flex  mt-0 w-full h-32 sticky top-0 !important;  

}

.dashboard{
  border: 2px solid transparent;
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    var(--primary-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.267);

}

/* HTML: <div class="loader"></div> */
/* .loader {
  width: 50px;
  aspect-ratio: 1;
  color: #398eb6;
  background: currentColor;
  border-radius: 50%;
  position: relative;
}
.loader:before {
  content: "";
  position: absolute;
  background: radial-gradient(
        farthest-side at bottom right,
        #0000 94%,
        currentColor 96%
      )
      0 0,
    radial-gradient(farthest-side at bottom left, #0000 94%, currentColor 96%)
      100% 0,
    radial-gradient(farthest-side at top left, #0000 94%, currentColor 96%) 100%
      100%,
    radial-gradient(farthest-side at top right, #0000 94%, currentColor 96%) 0
      100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l39-1 1s infinite, l39-2 1s infinite;
}
@keyframes l39-1 {
  0%,
  10%,
  90%,
  100% {
    inset: 0;
  }
  40%,
  60% {
    inset: -10px;
  }
}

@keyframes l39-2 {
  0%,
  40% {
    transform: rotate(0);
  }
  60%,
  100% {
    transform: rotate(90deg);
  }
} */
